body{
	margin: 0;
}
nav {
	background: #4267B2;
	min-height: 50px;
    color: #e0d9d9;
    padding-top:5px;
}

nav a img {
    width: 25px;
    border-radius: 30px;
    margin-top: 5px;
}

.brand {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
}

/* Feeds */

body{
    background: #F0F3F8;
    font-family: arial;
}
.row {
    text-align: left;
    color: auto;
    width: 30%;
    vertical-align: middle;
    margin: 10px;
    padding: 10px;
}
#printText .row {
    background: #FFFFFF;
}
#printText .row img {
    width: 35px;
    border-radius: 50px;
    vertical-align: text-top;
}
#fullName {
    margin-left: 10px;
}
#insertPost {
    text-align: left;
    padding: 5px;
    background: #fff;
    width: 31%;
    height: 100px;
    margin-left: 50%;
    margin-bottom: 40px;
    transform: translate(-50%, -0%);
}
#postTxt {
    padding-top: 20px;
    margin-left: 10px;
}
#insertPost img {
    margin-left: 10px;
    width: 30px;
    vertical-align: middle;
}
#postTxt > img {
    min-width: 100%;
    border-radius: 0;
}
#picture {
    width: 80%;
    float: right;
}
#postDate {
        font-size: 10px;
    margin-left: 10px;
}
input {
    border: 1px solid #DFE0E1;
    padding: 5px;
    width: 96%;
    height: 50%;
}
#like {
    height: 20px;
    font-size: 9px;
    color: blue;
    width: 30%;
    display: inline-block;
}

a:link, a:visited {
	color: #fff;
	text-decoration: none;
}
#button {
    margin-top: 7px;
    width: 90px;
    height: 25px;
}