*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    background-color: rgb(20, 20, 92);
    color: white;
    padding: 10px;
    display: flex;
    
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#register{


    display: flex;
    flex-direction: column;
}
input{

    margin: 7px;
}

#onmind{

    display: flex;
    flex-direction:column;
    
    
    
    margin: 10px;
    background-color: rgba(220, 220, 238, 0.966);
    padding: 7px;
    width: 500px;

}

#whatonmind{


    padding: 10px;
    margin-bottom: 7px;
    align-self: center;
    margin-left: 20px;
}
#submituj{
    align-self: center;
}
.pix{

    height: 60px;
    width: 60px;
    border: 1px solid orange;
    background-image: url("https://pbs.twimg.com/profile_images/730811853891309568/2wSLZ71_.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.userpic{
    height: 60px;
    width: 60px;
    border: 1px solid orange;
    background-image: url("../imgs/userpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#mindpic{


    display: flex;
    flex-direction: row;

}
.imageName{

    display: flex;
}

.coms{

    margin: 10px;
    background-color: rgba(226, 226, 243, 0.788);
    padding: 7px;
    width: 500px;
}

#submituj{

    align-self: flex-start;
}
#picanduser{

    display: flex;
}

#wrap{

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.date{

    text-align: right;
}

#logout{

    background-image: url("https://cdn.iconscout.com/icon/premium/png-256-thumb/power-button-27-566991.png");
    width: 60px;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a{

    color: white;
    text-decoration: none;
}

.kockica{


    height: 20px;
    width: 20px;
    border: black solid 1px;
    margin-right: 2px;
    background-color: white;
    cursor: pointer;
    color: white;
    
}
.kockica2{


    height: 20px;
    width: 20px;
    border: black solid 1px;
    margin-right: 2px;
    background-color: red;
    cursor: pointer;
    color: red;
}
#kocka{


    display: flex;
    flex-direction: row;
    align-items: center;
}